@import "tailwindcss";
@plugin "daisyui" {
  themes: winter --default;
}

.animate-fade-in {
  animation: fadeInUp 0.5s cubic-bezier(0.22, 1, 0.36, 1);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
